/* open sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

html {
  background-color: #f1fffb;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* nav */
.nav {
  z-index: 999;
  width: 100%;
  margin-bottom: 30px;
  position: absolute;
}

.nav-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
  margin-top: 20px;
  border-radius: 50px;
  background-color: #24305e;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav-desktop-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-logo {
  width: 50px;
  border-radius: 50%;
  margin: 8px;
  border: 2px #9ed8db solid;
}

.nav-title {
  color: white;
  margin-left: 5px;
}

.nav-desktop-right {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: grid;
  grid-template-columns: 130px 130px 130px 180px 130px;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  list-style-type: none;
  color: #24305e;
  margin-right: 10px;
}

.nav-link-item,
.nav-link-item-social {
  color: #24305e;
  font-weight: 600;
  background-color: #669bbc;
  padding: 8px 0;
  border-radius: 20px;
  margin: 0 5px;
  transition: opacity 0.5s;
}

.nav-link-item:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}

.nav-link {
  color: black;
  font-size: 18px;
  text-decoration: underline solid transparent;
  transition: color 0.5s, text-decoration 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #24305e;
}

.social-dropdown:hover {
  cursor: pointer;
}

.social-dropdown-content {
  display: none;
  position: absolute;
  background-color: #24305e;
  width: 128px;
  color: #24305e;
  font-size: 18px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 15px 10px;
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
  margin-left: -13px;
}

.social-dropdown:hover .social-dropdown-content {
  display: grid;
  justify-content: stretch;
  align-items: center;
  width: 128px;
  grid-gap: 10px;
}

/* nav mobile */
.nav-mobile {
  width: 95%;
  margin: auto;
  margin-top: 20px;
  border-radius: 35px;
  background-color: #24305e;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: none;
}

.nav-mobile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}

.nav-mobile-top-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-links-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  text-align: center;
  z-index: 999;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  padding: 20px 0 30px 0;
  border-radius: 50px;
  color: #24305e;
}

.nav-link-mobile-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  background-color: #669bbc;
  border-radius: 20px;
  padding: 8px 20px;
  font-weight: 600;
  color: #24305e;
  transition: opacity 0.5s;
  cursor: pointer;
  font-size: 18px;
}

.nav-link-mobile-item:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}

.nav-link-mobile-item:not(:last-child) {
  margin-bottom: 20px;
}

.grid {
  display: grid;
}

.nav-mobile-social-title {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 700;
  color: white;
}

/* burger nav */
.burger {
  display: inline-block;
  cursor: pointer;
  margin-right: 25px;
  margin-top: 4px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  border-radius: 20px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  background-color: white;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media (max-width: 1100px) {
  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: grid;
  }
}

.summer-event {
  background-color: #f8e9a1;
}

/* body */
.page-title {
  font-size: 70px;
  padding: 20px;
  text-align: center;
}

@media (max-width: 900px) {
  .page-title {
    font-size: 50px;
  }
}

.section-title {
  font-size: 50px;
  color: #24305e;
  margin-top: 80px;
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 1060px) {
  .section-title {
    font-size: 40px;
  }
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #669bbc;
  width: 95%;
  margin: auto;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.footer-content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003049;
  border-radius: 20px;
  width: 100%;
  margin: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.footer-img {
  height: 250px;
  border-radius: 20px;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.footer-logo {
  width: 300px;
  margin-bottom: 20px;
}

.footer-mid {
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer-social-link {
  text-align: center;
  background-color: #f1fffb;
  padding: 8px;
  border-radius: 20px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  transition: opacity 0.5s;
  color: black;
}

.footer-social-link:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}

.footer-social-icon {
  font-size: 25px;
  margin-right: 8px;
}

@media (max-width: 1250px) {
  .footer-img {
    display: none;
  }
}

/* sizing for mobile */
@media (max-width: 900px) {
  html {
    width: 95%;
    margin: auto;
  }

  .nav {
    width: 95%;
    margin: auto;
  }
}
